.itemwrapper {
  /* border: 1px solid rgb(211, 211, 211, 0.5); */
  width: 90%;
  min-height: 6rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}
.cartimg {
  width: 40%;
  height: 100%;
}
.cartimg img {
  max-width: 6rem;
  height: 6rem;
  object-fit: cover;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.prodname {
  font-size: 1.2rem;
  color: rgb(73, 71, 71);
  font-weight: 100;
}
.quantity {
  font-size: 0.9rem;
  color: rgb(73, 71, 71);
  text-decoration: underline;
  margin-top: 2rem;
}
.rightdiv {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}
.removebtn {
  background: none;
  border: none;
  font-size: 1.1rem;
  margin-top: 3rem;
}
