.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(66, 65, 65, 0.3);
  z-index: 1;
}
.shopcart {
  background-color: #fff;
  font-family: "Paytone One", sans-serif !important;
  font-weight: bolder;
  position: fixed;
  top: 0;
  right: 0;
  width: 22rem;
  z-index: 100000000000000000000;
  height: 100vh;
  scroll-behavior: smooth;
  /* height: auto; */
  /* overflow: scroll; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: flex-start; */
  gap: 2rem;

  font-family: inherit;
  overflow: scroll;
}
::-webkit-scrollbar {
  display: none;
}
.carttext {
  height: 2rem;
  display: flex;
  color: rgb(82, 77, 77);
  width: 100%;
  margin-left: 1.2rem;
  text-align: left;
}

.close {
  background: none;
  border: none;
  position: absolute;
  top: 3%;
  left: 1%;
  color: white;
  font-weight: bolder;
  font-size: 1.5rem;
}

.cartbuttons {
  display: flex;
  gap: 10px;
  padding: 0.7rem 0;
}
.cartbuttons button {
  border: 1px solid rgb(82, 77, 77);
  background: none;
  color: #3b3939;
  font-weight: bolder;
  min-width: 80px;
  min-height: 30px;
  font-size: 15px;
  font-family: inherit;
}
.cartbuttons button:hover {
  color: #eee;
  background: rgb(43, 42, 42);
}
.total span {
  font-weight: bolder;
  font-size: 1rem;
}
.animate {
  animation: cartappear 0.3s forwards;
}
.itemsincart {
  min-height: 50vh;
  max-height: 52vh;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: scroll;
}

.cartseperator {
  width: 90%;
  margin: 0 auto;
  background-color: rgb(0, 0, 0, 0.5);
  height: 1px;
}
@keyframes cartappear {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
