.section {
  background-color: #eee;
  padding: 0.5rem;
}
.productlink {
  text-decoration: none;
}
.productscont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 0.3rem;
}
.showmore {
  margin: 0.25rem 0;
}

.showmore button {
  border: none;
  padding: 0.3rem;

  transition: background-color 0.4s ease-in-out;
  font-weight: bolder;
  background: transparent;
}
.showmore button:hover {
  background-color: rgb(102, 102, 102, 0.1);
  color: #7c7a7a;
}
.prodsheading {
  text-align: center;
  font-weight: bolder;
  font-size: 2rem;
}
.productsdivide {
  height: 2px;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 3rem;

  background-color: rgb(211, 211, 211, 0.7);
}
.categories {
  display: flex;
  overflow: auto;
  align-items: center;
  gap: 0.5rem;
  margin: 2rem 0;
  padding: 0.3rem 0;
}

@media (min-width: 1400px) {
  .productscont {
    grid-template-columns: repeat(7, 1fr);
  }
}
@media (min-width: 1200px) {
  .productscont {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .productscont {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (min-width: 800px) and (max-width: 1000px) {
  .productscont {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  .productscont {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 500px) {
  .categories {
    justify-content: center;
  }
}
