.bestsellerwrapper {
  position: relative;
}
.bestseller {
  display: flex;
  gap: 1rem;
  align-items: center;
  overflow: auto;
}
.sliderbtnleft {
  background: none;
  border: none;
  position: absolute;
  top: 50%;
}
.sliderbtnright {
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  right: 0;
}
