.coupon {
  position: relative;
  margin: 3.8rem 0;
  text-align: center;
}

.coupon span {
  background-color: rgb(17, 17, 17);
  padding: 0.5rem 1rem;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

  color: white;
  font-weight: bolder;
}
.generatedcoupon {
  text-align: left;
}
.transition {
  transition: 0.5s ease;
  transform: translateX(0%);
}

.couponbtn {
  text-align: center;
  margin-bottom: 1.5rem;
}
.coupon button {
  padding: 1rem 3rem;
}
.generatedcoupon {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.generatedcoupon.show {
  opacity: 1;
  transform: translateY(0);
}

@media (min-width: 600px) {
  .coupon {
    text-align: center;
  }
}
