.coupon {
  position: relative;
  margin: 3.8rem 0;
  text-align: center;
}

.coupon span {
  background-color: rgb(17, 17, 17);
  padding: 0.5rem 1rem;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

  color: white;
  font-weight: bolder;
  animation: couponSlide 1.5s ease-in-out;
}
.generatedcoupon {
  text-align: left;
}
.couponbtn {
  text-align: center;
  margin-bottom: 1.5rem;
}
.coupon button {
  background: none;
  border: none;
  color: black;
  border: 1px solid hwb(0 0% 100%);

  min-width: 15rem;
  min-height: 3rem;
  border-radius: 3px;

  font-weight: bolder;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.coupon button:hover {
  background-color: black;
  color: white;
}
@keyframes couponSlide {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
@media (min-width: 600px) {
  .coupon {
    text-align: center;
  }
  .coupon span {
    border-radius: 10px;
  }
}
