.orderhelper {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.4rem;
  padding: 2rem 0;
  margin: 2rem 0;
}
.helperheading {
  text-align: center;
}
.orderhelper h2 {
  color: rgb(18, 103, 129);
}
.step {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.stepicon {
  font-size: 3rem;
  color: rgb(40, 40, 40);
}
@media (min-width: 900px) {
  .orderhelper {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 3rem;
  }
}
